@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Nunito+Sans:opsz,wght@6..12,200;6..12,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide the default scrollbar */
.scrollable-container::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  scroll-behavior: smooth;
     display: none;
}

/* styles.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
  backdrop-filter: blur(8px); /* Adjust the blur amount as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensure the modal appears above the blurred background */
}

.modal-content {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2; /* Ensure the modal content appears on top of the overlay */
}
.limited-text {
  max-height: 3em; /* Adjust to the number of lines you want to show */
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
}
